<!DOCTYPE html>
<html>

<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>

<body>

<h2>EVENTS</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Event Name</th>
    <th>Event Creator</th>
  </tr>

  <%@events.each do |e| %>
    <tr>
      <td><%=e.id %></td>
      <td><%= link_to e.title, controller: "events", action: "show", id: e.id%></td>
      <td><%= @users.find(e.event_creator_id).name + " " +@users.find(e.event_creator_id).last_name%></td>
    </tr>
  <% end %>
</table>


</body>
</html>