<h2>USER EVENTS</h2>

<h2>Events created</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Event Name</th>
  </tr>

  <%@events_created.each do |event| %>
    <tr>
      <td><%=event.id %></td>
      <td><%= link_to event.title, controller: "events", action: "show", id: event.id%></td>
    </tr>
  <% end %>
</table>

<h2>Events joined</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Event Name</th>
  </tr>

  <%@events_joined.each do |event| %>
    <tr>
      <td><%=event.id %></td>
      <td><%= link_to event.title, controller: "events", action: "show", id: event.id%></td>
    </tr>
  <% end %>
</table>