<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<h1>PDF</h1>
<hr>

<% if @event.pdfEvent.attached? %>
  <%@event.pdfEvent.each do |pdf| %>
    <div>
      <%= link_to pdf.filename, url_for(pdf) %>
    </div>
  <% end %>
<% else %>
<% end %>