<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <h1>Videos</h1>
  <hr>
</head>

<% if @event.videosEvent.attached? %>
  <%@event.videosEvent.each do |videos| %>
    <div>
      <h4><%=videos%></h4>
    </div>
  <% end %>
<% else %>
<% end %>