<style>
  table, th, td {
    border: 1px solid black;
  }
</style>

<h2>ORGANIZATIONS</h2>

<h2>Organizations created</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Organization Name</th>
    <th>Organization Admins</th>
  </tr>

  <%@organizations.each do |org| %>
    <tr>
      <td><%=org.id %></td>
      <td><%= link_to org.name, controller: "organizations", action: "show", id: org.id%></td>
      <td>
      <%@admins.where(organization_id: org.id).each do |a|%>
       <%=@users.find(a.admin_id).name + " " + @users.find(a.admin_id).last_name %>
      <%end %>
      </td>
    </tr>
  <% end %>
</table>
