body {font-family: "Lato", sans-serif;}

.navbar-dark{
    margin-left: 5%; /* Same as the width of the sidenav */
    background-color: #0D5AFF;
}

.topbar {
    list-style-type: none;
    margin-left: 4%; /* Same as the width of the sidenav */
    margin-top: -10px;
    margin-bottom: 25px;
    padding: 0px 0px;
    overflow: hidden;
    background-color: #0D5AFF;
    border-bottom: 2px solid black;
}

.search_bar {
    float: right;
    padding: 6px 0px 6px 0px;
    border: none;
    margin-top: 12px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 17px;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topbar a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar a:hover {
    background-color: #111;
}

.topbar-left {
    float: left;
}

.topbar-left ul li {
    float: left;
}

.topbar-right ul li {
    float: right;
}


.sidebar {
    text-align: center;
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #0D5AFF;
    overflow-x: hidden;
    padding-top: 0px;
    border-right: 2px solid black;
}

.sidebar a {
    padding: 15px 8px 15px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
}

.sidebar a:hover {
    background-color: #111;
}

.main {
    margin-left: 80px; /* Same as the width of the sidenav */
    padding: 0px 0px;
}